@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    background: #f5f6f7;
    text-align: center;
}

.login_msg {
    font-size: 40px;
    color: #03c75a;
    font-weight: bold;
    margin-top: 200px;
}

.welcome_msg {
    margin-top: 30px;
    font-size: 20px;
}

.user_id {
    font-weight: bold;
}